@base_font_family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@base_font_size: 12px;
@top_margin: 40px;
@new_link_color: #334D66;
@visited_link_color: #333466;

.fonts(@size: @base_font_size, @fonts: @base_font_family) {
    font-family: @fonts;
    font-size: @size;
    line-height: @size + 2;
}

.nohr {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.logo {
    border: 0px;
    padding-right: 0px;
    margin-right: -10px;
}

body {
    .fonts;
    background: #eee;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: @new_link_color;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: @visited_link_color;
}


.content_body {
    margin: 0px;
    float: left;
    margin-left: 15px;
    margin-top: @top_margin;
    width: 60%;
    
    li {
        list-style: none;
        
        time {
            font-style: italic;
        }
        
        p {
            clear: both;
        }        
    }
    
    iframe {
        border: 0px;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 250px;
    }
    
    hr {
        .nohr
    }
    
    h1 {
        .fonts(14px);
    }
}

nav {
    float: left;
    text-align: right;
    border-right: 1px solid black;
    padding: 5px;
    margin-top: @top_margin;
    .fonts(12px);
    
    hr {
        .nohr
    }
    
    ul {
        padding: 0px;
        margin: 2px;
        li {
            padding-top: 0px;
            margin-top: 0px;
            list-style: none;
        }
    }
    
    h1 {
        .fonts(13px);
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}

form {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 0px;
    margin: 0px;
        
    dt {
        font-weight: bold;
        .fonts(@base_font_size+2px);
        padding-bottom: 2px;
    }
    
    textarea {
        width: 90%;
        height: 400px;
        background: #fff;
    }   
        
    h2 {
        .fonts(@base_font_size+8px);
    }
}

.flash {
    background: #aaa;
    .fonts(@base_font_size+4px);
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 5px;
    margin: 0px;
    border-bottom: 2px solid #000;
}