{% extends "layout.html" %}
{% block title %}&#187; BJCP Styleguide{% endblock %}
{% block javascript %}
{{ super() }}
<script>
$().ready(function(){
	$('.subcat').hide()
});

function display_style(category_id){
	$.getJSON('/brewery/bjcp/style/'+category_id+'/json/', function(data) {
		$.each(data, function(key, val){
			if(key == 'category'){
				$('#'+key).html(val.category_id+". "+val.name)
			} else {
				$('#'+key).html(val)
			}
		});
		$('#bjcp_data').show();
	});
}

</script>
{% endblock %}
{% block body %}
<div class="content_body" style="width: 25%;">
	<h2>BJCP Styles</h2>
	<ul>
		{% for category in styles %}
			<li><a name="{{category}}node"></a><a href="#{{category}}node" onclick="$('#{{category}}list').toggle()">{{ category }}. {{ styles[category].name }}</a><br>
				<ul id="{{category}}list" class="subcat" style="margin-left: 15px">
					{% for subcat in styles[category].styles %}
					<li><a href="#description" onclick="display_style('{{ subcat.id }}')">{{ subcat.subcategory }}. {{ subcat.name }}</a>
					{% endfor %}
				</ul>
						
		{% endfor %}
	</ul>
</div>
<div class="content_body" style="width: 50%;">
	<a name="description"></a>
	<dl class="subcat" id="bjcp_data">
		<dt>Category</dt>
		<dd id="category"></dd>
		<dt>Name</dt>
		<dd id="name"></dd>
		<dt>Aroma</dt>
		<dd id="aroma"></dd>
		<dt>Appearance</dt>
		<dd id="appearance"></dd>
		<dt>Flavor</dt>
		<dd id="flavor"></dd>
		<dt>Mouthfeel</dt>
		<dd id="mouthfeel"></dd>
		<dt>Impression</dt>
		<dd id="impression"></dd>
		<dt>Comments</dt>
		<dd id="comments"></dd>
		<dt>Examples</dt>
		<dd id="examples"></dd>
		<dt>OG Range</dt>
		<dd id="og_range"></dd>
		<dt>FG Range</dt>
		<dd id="fg_range"></dd>
		<dt>IBU Range</dt>
		<dd id="ibu_range"></dd>
		<dt>SRM Range</dt>
		<dd id="srm_range"></dd>
		<dt>ABV Range</dt>
		<dd id="abv_range"></dd>
		<p><a class="smallscreen" href="#pagetop">back to top</a>
	</dl>
</div>
{% endblock %}
{% block iframe %}{% endblock %}