{% from "_formhelper.html" import render_field %}
{% extends "layout.html" %}
{% block header %}
{{ super() }}
{% endblock %}
{% block body %}
<section id=content>
	<h2>Change Password</h2>
	<form action="/admin/users/edit/{{data.user_id }}/password/" method="post">
		<dl>
			{{ data.form.csrf }}
			{{ render_field(data.form.password) }}
			{{ render_field(data.form.password2) }}
			{{ data.form.user_id(value=data.user_id) }}
			<dd><input type=submit value="Change Password" />
		</dl>
	</form>
{% endblock %}