{% from "_formhelper.html" import render_field %}

{% extends "layout.html" %}

{% block title %}&#187; Edit Entry{% endblock %}

{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery-ui-1.8.16.custom.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jquery.tagsinput.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rte.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/timePicker.css') }}">
{% endblock %}

{% block javascript %}
{{ super() }}
<script src="{{ url_for('static', filename='js/jquery.rte.js' )}}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui-1.8.16.custom.min.js' )}}"></script>
<script src="{{ url_for('static', filename='js/jquery.tagsinput.min.js' )}}"></script>
<script src="{{ url_for('static', filename='js/jquery.timePicker.min.js' )}}"></script>
<script>
	jQuery(function(){
		$("#time").timePicker({
			startTime: "{{ data.date.strftime('%H:%M') }}",  // Using string. Can take string or Date object.
			endTime: new Date(0, 0, 0, 15, 30, 0),  // Using Date object.
			show24Hours: true,
			separator:':',
			step: 15});
	});

	$(function() {
		$( "#datepicker" ).datepicker();
	});
	
	jQuery().ready(function(){
		var options = {
			imgPath: "/static/images/",
			content: '{{ data.entry.body|safe }}',
			height: '500px',
			width: '90%',
			buttonSet: 'format|bold|underline|italic|spacer|orderedList|unorderedList|indent|outdent|spacer|justify|spacer|link|image|table|spacer|toggle'
		};
		$('#editor').rte(options);
	});
	
	$(function() {
		$('#tags').tagsInput();
	});
	
</script>
{% endblock %}

{% block body %}
<section id=content>	
	<form action="{{ url_for('edit_entry') }}" method="post">
		<dl>
			{{ data.form.csrf }}
			{{ render_field(data.form.title, size="45", value=data.entry.title) }}
			{{ render_field(data.form.body, id="editor") }}
			<dt>Time/Date
			<dd>{{ data.form.time(id="time", value=data.date.strftime("%H:%M"))}}
				{{ data.form.date(id="datepicker", value=data.date.strftime("%m/%d/%Y"))}}
				{% if data.form.time.errors %}
				<ul class="errors">
					{% for error in data.form.time.errors %}<li>{{ error }}{% endfor %}
			    </ul>
				{% endif %}
				{% if data.form.date.errors %}
				<ul class="errors">
					{% for error in data.form.date.errors %}<li>{{ error }}{% endfor %}
			    </ul>
				{% endif %}
			{{ render_field(data.form.tags, class="tags", id="tags", value=data.tags) }}
			<dt><br>
			<dd>
				{{ data.form.is_draft() }}<strong>{{ data.form.is_draft.label }}<strong>
				{{ data.form.is_deleted() }}<strong>{{ data.form.is_deleted.label }}</strong>
			{{ data.form.post_id(value=data.entry.id) }}
		</dl>
		<p><input type=submit value="Create Post">
	</form>
	<iframe src=/image/add></iframe>
</div>
{% endblock %}