{% from "_formhelper.html" import render_field %}
{% extends "layout.html" %}
{% block body %}
<div class="content_body">
	<form id="postform" action="{{ url_for('edit_user') }}{% if data.user.id is defined %}{{ data.user.id }}/{% endif %}" 
		  method="post" class="entry">
		<h2>{% if data.user.id is defined %}Edit{% else %}Create{% endif %} User</h2>
		<dl>
			{{ data.form.csrf }}
			{{ render_field(data.form.first_name, value=data.user.first_name) }}
			{{ render_field(data.form.last_name, value=data.user.last_name) }}
			{{ render_field(data.form.alias, value=data.user.alias) }}
			{{ render_field(data.form.email, value=data.user.email )}}
			{{ render_field(data.form.avatar, value=data.user.avatar.url) }}
			{% if data.user.id is defined %}
				{{ data.form.user_id(value=data.user.id) }}
				<p><a href="/admin/users/edit/{{ data.user.id }}/password/">change password</a>
			{% else %}
				{{ render_field(data.form.password) }}
				{{ render_field(data.form.password2) }}			
			{% endif %}
		</dl>
		<p><input type=submit value="{% if data.user.id %}Update{% else %}Create{% endif %} User">
	</form>
	
	<iframe src=/image/add class=upload></iframe>
</div>
{% endblock %}