{% from "_formhelper.html" import render_field %}
{% extends "layout.html" %}
{% block title %}&#187; Edit Recipe{% endblock %}
{% block stylesheet %}
{{ super() }}
{% endblock %}
{% block javascript %}
{{ super() }}
{% endblock %}
{% block body %}
<div class="content_body">	
	<form id=postform action="{{ url_for('edit_recipe', recipe_id=data.recipe.id) }}" method="post" class="entry">
<!-- hidden fields for internal accounting -->
{{ data.form.csrf }}{{ data.form.brewer(value=session.get('user_id')) }}{{ data.form.hops }}
{{ data.form.grains }}{{ data.form.extracts }}{{ data.form.hopped_extracts }}{{ data.form.mineral }}
{{ data.form.fining }}{{ data.form.flavor }}{{ data.form.spice }}{{ data.form.herb }}
<span class=section_title>General</span>
<div class=recipe_section>
	<div>{{ data.form.name.label }}{{ data.form.name(style="width: 100px;") }}</div>
	<div>{{ data.form.style.label }}{{ data.form.style }}</div>
	<div>{{ data.form.recipe_type.label }}{{ data.form.recipe_type }}</div>
	<div>{{ data.form.efficiency.label }}{{ data.form.efficiency(style="width: 50px", step="0.1") }}%</div>
	<br>
	<div>{{ data.form.boil_volume.label }}{{ data.form.boil_volume(style="width: 50px;", step="0.1") }}{{ data.form.boil_volume_units }}</div>
	<div>{{ data.form.batch_volume.label }}{{ data.form.batch_volume(style="width: 50px;", step="0.1") }}{{ data.form.batch_volume_units }}</div>
	<div>{{ data.form.equipment.label }}{{ data.form.equipment }}</div>
	<div>{{ data.form.base_boil_equipment }}{{ data.form.base_boil_equipment.label }}</div>
	<br>
</div>
<span class=section_title>Ingredients</span>
<div class=recipe_section>
	<div style="width: 100%">
		<table id=ingredients>
			<thead>
				<tr>
					<th>Ingredient</th>
					<th>Type</th>
					<th>Use</th>
					<th>%</th>
					<th>Time</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>				
				<tr>
					<td>test</td>
					<td>test</td>
					<td>test</td>
					<td>test</td>
					<td>test</td>
					<td>test</td>
				</tr>
				<tr>
					<td>test</td>
					<td>test</td>
					<td>test</td>
					<td>test</td>
					<td>test</td>
					<td>test</td>
				</tr>				
			</tbody>
		</table>
	</div><br>
	<input type="button" onclick="addIngredient" id="add_ingredient" value="Add Ingredient">
	<input type="button" onclick="removeIngrient" id="remove_ingredient" value="Delete Ingredient">
</div>
<div class=recipe_section style="float: left;">
	<div style="float: left; width: 40%">
		<span class=section_title>Recipe Stats</span>
		<div  style="width: 100%;">
			<div style="width: 20%">{{ data.form.og.label }}</div><div>{{ data.form.og(disabled="disabled", style="width: 75px;") }}</div><br>
			<div style="width: 20%">{{ data.form.fg.label }}</div><div>{{ data.form.fg(disabled="disabled", style="width: 75px;") }}</div><br>
			<div style="width: 20%">{{ data.form.color.label }}</div><div>{{ data.form.color(disabled="disabled", style="width: 75px;") }}</div><br>
			<div style="width: 20%">{{ data.form.ibu.label }}</div><div>{{ data.form.ibu(disabled="disabled", style="width: 75px;") }}</div><br>
			<div style="width: 20%"><label for="abv">A.B.V.</label></div><div><input type="number" style="width: 75px;" disabled></div><br>
			<div style="width: 20%"><label for="bitt_ratio">IBU/GU</label></div><div><input style="width: 75px;" type="number" disabled></div><br>			
		</div>
	</div>
	<div style="float: left; width: 40%">
		<span class=section_title>Style Stats</span>
		<div style="width: 100%;">
			<div style="width: 20%">{{ data.form.og.label }}</div><div>{{ data.form.og(disabled="disabled", style="width: 75px;") }}</div><br>
			<div style="width: 20%">{{ data.form.fg.label }}</div><div>{{ data.form.fg(disabled="disabled", style="width: 75px;") }}</div><br>
			<div style="width: 20%">{{ data.form.color.label }}</div><div>{{ data.form.color(disabled="disabled", style="width: 75px;") }}</div><br>
			<div style="width: 20%">{{ data.form.ibu.label }}</div><div>{{ data.form.ibu(disabled="disabled", style="width: 75px;") }}</div><br>
			<div style="width: 20%"><label for="abv">A.B.V.</label></div><div><input type="number" style="width: 75px;" disabled></div><br>
			<div style="width: 20%">&nbsp;</div><div>&nbsp;</div><br>
		</div>
	</div><br>
</div>
<div class=recipe_section style="float: left; margin-left: 10px; @media screen and (max-width: 480px){ margin-left: 0px !important; }">
	<div>
		<div style="width: 23%">{{ data.form.fermentation_type.label }}</div><div>{{ data.form.fermentation_type }}</div><br>
		<div style="width: 23%">{{ data.form.stage_1_temp.label }}</div><div>{{ data.form.stage_1_temp(style="width: 50px;")}}{{ data.form.stage_1_temp_units}}</div><div>{{ data.form.stage_1_time(style="width: 50px;")}}{{ data.form.stage_1_time_units }}</div><br>
		<div style="width: 23%">{{ data.form.stage_2_temp.label }}</div><div>{{ data.form.stage_2_temp(style="width: 50px;")}}{{ data.form.stage_2_temp_units}}</div><div>{{ data.form.stage_2_time(style="width: 50px;")}}{{ data.form.stage_2_time_units }}</div><br>
		<div style="width: 23%">{{ data.form.stage_3_temp.label }}</div><div>{{ data.form.stage_3_temp(style="width: 50px;")}}{{ data.form.stage_3_temp_units}}</div><div>{{ data.form.stage_3_time(style="width: 50px;")}}{{ data.form.stage_3_time_units }}</div><br>
	</div><br>
</div>
<br style="clear: both;">
<span class=section_title>Mash Profile</span>
<div class=recipe_section>
	<div>
		<div>{{ data.form.mash.label }}{{ data.form.mash }}</div><br>
	</div><br>
</div>
<span class=section_title>Carbonation</span>
<div class=recipe_section>
	<div style="width: 100%">
		<div style="width: 100%">
			<div style="width: 15%">{{ data.form.carbonation_type.label }}</div><div>{{ data.form.carbonation_type }}</div><br>
			<div style="width: 15%">{{ data.form.carbonation_sugar_amount.label }}</div><div>{{ data.form.carbonation_sugar_amount }}{{ data.form.carbonation_sugar_units }}</div><br>
			<div style="width: 15%">{{ data.form.carbonation_volume.label }}</div><div>{{ data.form.carbonation_volume }}</div><br>
		</div>
	</div><br>
</div>
		<p><input type=submit value="{% if data.recipe.id %}Edit{% else %}Create{% endif %} Recipe">
	</form>
</div>
{% endblock %}