<!DOCTYPE html>
<html>
	<head>
		<title>B(eer)Log</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='timePicker.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-ui-1.8.16.custom.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='rte.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.tagsinput.css') }}">
		<script src="{{ url_for('static', filename='jquery-1.7.min.js') }}"></script>
		<script src="{{ url_for('static', filename='jquery-ui-1.8.16.custom.min.js' )}}"></script>
		<script src="{{ url_for('static', filename='jquery.timePicker.min.js' )}}"></script>
		<script src="{{ url_for('static', filename='jquery.rte.js' )}}"></script>
		<script src="{{ url_for('static', filename='jquery.tagsinput.min.js') }}"></script>
	</head>
	<body>
		<div class="page">
			{% block header %} 
			<h1>B(eer)Log</h1>
			<div class="metanav">
				{% if not session.logged_in %}
					<a href="{{ url_for('login') }}">log in</a>
				{% else %}
					<a href="{{ url_for('logout') }}">log out</a>
				{% endif %}
			</div>
			{% endblock %}
			{% for message in get_flashed_messages() %}
				<div class="flash">{{ message|safe }}</div>
			{% endfor %}
			{% block body %}{% endblock %}
		</div>
	</body>
</html>