<!DOCTYPE html>
<html>
	<head>
		<title>B(eer)Log {% block title %}{% endblock %}</title>
		<meta name=viewport content="width=400">
		{% block stylesheet %}
		<link rel="stylesheet/less" type="text/x-less" href="{{ url_for('static', filename='styles.less') }}">
	    {% endblock %}

		{% block javascript %}
		<script src="{{ url_for('static', filename='js/less-1.1.5.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery-1.7.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/json2.js') }}"></script>
		<script>
		$().ready(function(){
			function gen_a(dest, text, cls){
				a = $('<a>');
				a.attr('href', dest)
				a.attr('class', cls)
				a.html(text)
				return a
			}

			$.getJSON('/entry/archives/json/', function(data) {
				$.each(data, function(key, val) {
					li = $('<li>');
					li.html(gen_a('/entry/'+val+'/', val, 'archive_item'))
					$('#archive_list').append(li);
				});
			});			
		})
		</script>
		{% endblock %}
	</head>
	<body>
		<a name="pagetop"></a>
		{% block flash %}
		{% for message in get_flashed_messages() %}
			<section class=flash>{{ message|safe }}<div class=close><a href="#" onclick="$('.flash').hide('fast')">x</a></div></section>
		{% endfor %}
		{% endblock %}
		{% block nav %}
		<nav>
			<ul>
				<li><a href="/"><img src="/static/images/logo_top2.png" alt="Gute"></a>
				<li><a href="/"><img src="/static/images/logo_bottom.png" alt="Saufen"></a>
			</ul>
			<h1>Recipes</h1>
			<ul>
				<!--li><a href="/brewery/">browse</a-->
				{% if session.logged_in %}
				<li><a href="/brewery/recipe/edit/">create</a>
			    {% endif %}
			</ul>
			<br>
			<h1>Blog</h1>
			<ul>
				<li><a href="{{ url_for('list_entries') }}">latest</a>
				<li>older
					<ul id=archive_list></ul>
				{% if session.logged_in %}
				<li><a href="{{ url_for('edit_entry') }}">create</a>
				{% endif %}
			</ul>
			<br>
			<h1>Admin</h1>
			<ul>
				{% if not session.logged_in %}
				<li><a href="{{ url_for('login') }}">login</a>
				{% else %}
				<li><a href="{{ url_for('edit_user', user_id=session.user_id) }}">edit profile</a>
				<li><a href="{{ url_for('list_users') }}">list users</a>
				<li><a href="{{ url_for('create_user') }}">create user</a>
				<li><a href="{{ url_for('logout') }}">log out</a>
				{% endif %}
			</ul>
		</nav>
		{% endblock %}
		{% block body %}{% endblock %}
	</body>
</html>