{% from "_formhelper.html" import render_field %}
{% extends "layout.html" %}
{% block javascript %}
{{ super() }}
<script>
	$().ready(function(){
		$('.comments').hide()
	});
</script>
{% endblock %}
{% block body %}
<section id=content>
	<ul>
		{% for entry in data.entries %}
			<li>
				<article>
					<h2><a href="{{ url_for('list_entries', entry_id=entry.id) }}">{{ entry.title }}</a></h2>
					<p><time pubdate>{{ entry.post_on|dateformat }}</time> | posted by {{ entry.author.alias }} {% if session.user_id == entry.author.id %} | <a href="{{ url_for('edit_entry', entry_id=entry.id )}}">edit post</a> {% endif %}
					<p>{{ entry.body|safe }}				
					{% if entry.tags %}
					{% set lister = joiner(", ") %}
					<p>File under: {% for tag in entry.tags %}{{ lister() }}<a href="/tag/{{ tag.name }}/">{{ tag.name }}</a>{% endfor %}
					{% endif %}
					<p><a href="#" onclick="$('#{{ entry.id }}comments').toggle()">{{ entry.comment_count }} comments</a> </p>
				</article>
				<div class="comments" id="{{ entry.id }}comments">
					<h2>Comments</h2>
					<ul>
					{% for comment in entry.comments %}
						<li>comment.body
					{% else %}
						<li>No comments yet
					{% endfor %}
					</ul>
					<form method="{{ url_for('add_comment', object_id=entry.id, object_type='Entry') }}" method="post">
						{{ data.cform.csrf }}
						<dl>
							{{ render_field(data.cform.posted_by_name) }}
							{{ render_field(data.cform.posted_by_email) }}
							{{ render_field(data.cform.body) }}
						</dl>
						<input type=submit value=Post>
					</form>
				</div>
			</li>
		{% else %}
			<li>No entries matched your request</li>
		{% endfor %}
	</ul>
</section>
{% endblock %}
{% block iframe %}{% endblock %}	