{% extends "layout.html" %}
{% block title %}&#187; User Admin{% endblock %}
{% block body %}
<div class="content_body">
<ul>
	<li class="row header">&nbsp;
		<div class="column">Name</div>
		<div class="column">E-Mail</div>
		<div class="column">Alias</div>
		<div class="column">Last Login</div>
	</li>
	{% for user in data.users %}
		<li class="row">&nbsp;
			<div class="column"><a href="{{ url_for('edit_user') }}{{ user.id }}/">{{ user.first_name }} {{ user.last_name }}</a></div>
			<div class="column">{{ user.email }}</div>
			<div class="column">{{ user.alias }}</div>
			<div class="column">{{ user.last_login|dateformat }}</div>
		</li>
	{% else %}
		<li class="row">
			<div class="column">No entries matched your request</div>
		</li>
	{% endfor %}
</ul>
{% endblock %}