{% from "_formhelper.html" import render_field %}
{% extends "layout.html" %}
{% block header %}
{{ super() }}
{% endblock %}
{% block body %}
	<form action="{{ url_for('login') }}" method=POST id=login>
		<h2>Login</h2>
		{% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
		<dl>
			{{ data.form.csrf }}
			{{ render_field(data.form.email, size="40") }}
			{{ render_field(data.form.password, size="40") }}
			<dd><input type=submit value=Login >
		</dl>
	</form>
{% endblock %}
