<!DOCTYPE html>
<html>
	<head>
		<title>B(eer)Log</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
		<script src="{{ url_for('static', filename='jquery-1.7.min.js') }}"></script>		
	</head>
	<script>
		function get_image(id){
			var img = $("#"+id)[0]
			return img.src
		}
	
		function return_image(id){
			var i = evt.data.rte.createElement('img');
			i.src = get_image(id);
			evt.data.rte.insertNode(i);
			window.close()
		}
		
	</script>
	<body style="background: #fff !important;">
		<div style="width: 35em; background: white;">
			<p>
			{% for image in data.images %}
				<a href="#">
					<img src="{{ image.url }}"
					     height="{{ image.thumb_size(width=50) }}"
					     width="50" 
						 id="image_{{ image.id }}"
					     onclick="return_image(this.id)">
					</a>
			{% endfor %}
		</div>
		<input type=hidden id=image>
	</body>
</html>