{% from "_formhelper.html" import render_field %}
{% extends "layout.html" %}
{% block flash %}{% endblock %}
{% block nav %}{% endblock %}
{% block body %}
	<script>
		function get_image(id){
			var img = $("#"+id)[0]
			return img.src
		}
	
		function return_image(id){
			var i = evt.data.rte.createElement('img');
			i.src = get_image(id);
			evt.data.rte.insertNode(i);
			window.close()
		}
		
	</script>
		<section id=content style="margin-left: 0px !important;">
			<p>
			{% for image in data.images %}
				<a href="#">
					<img src="{{ image.url }}"
					     height="{{ image.thumb_size(width=50) }}"
					     width="50" 
						 id="image_{{ image.id }}"
					     onclick="return_image(this.id)">
					</a>
			{% endfor %}
		</content>
		<input type=hidden id=image>
{% endblock %}