{% from "_formhelper.html" import render_field %}
{% extends "layout.html" %}
{% block bodystyle %}class="background_override"{% endblock %}
{% block flash %}{% endblock %}
{% block nav %}{% endblock %}
{% block body %}
<div class="content_body" style="margin-left: 0px !important; margin-top: 0px !important;">
	<form method="post" enctype="multipart/form-data" action="{{ url_for('create_image')}}" class=add-entry>
		<dl>
			{% if data.filename %}
				<dt>Image filename
				<dd><a href="{{ data.filename }}">{{ data.filename }}</a>
			{% endif %}
			{{ data.form.csrf }}
			{{ render_field(data.form.image) }}
			<dt>Resize <span style="font-weight: normal;">(Max size is 800 pixels on longest side; proportions will be constrained)</span>
				<dd> {{ data.form.side }} {{ data.form.resize_to(size=3) }}
			{{ render_field(data.form.caption, size=60) }}
			{% if data.form.resize_to.errors %}
			<ul class="errors">
				{% for error in data.form.resize_to.errors %}<li>{{ error }}{% endfor %}
			</ul>							
			{% endif %}
		</dl>
		<p><input type=submit value="Upload image">
	</form>
</div>
{% endblock %}