{% from "_formhelper.html" import render_field %}
{% extends "layout.html" %}
{% block header %}
{{ super() }}
{% endblock %}
{% block body %}
	<script 
		src="http://ajax.googleapis.com/ajax/libs/dojo/1.6.0/dojo/dojo.xd.js" 
		data-dojo-config="isDebug: true, parseOnLoad: true"></script>
	<script type="text/javascript">
	    dojo.require("dijit.form.TimeTextBox");
	    dojo.require("dijit.form.DateTextBox");
		dojo.require("dijit.Editor");
		dojo.require('dojox.editor.plugins.Blockquote');
		dojo.require('dijit._editor.plugins.TextColor');
		dojo.require('dijit._editor.plugins.ViewSource');
		dojo.require('dijit._editor.plugins.LinkDialog');
		dojo.require('dojox.editor.plugins.ToolbarLineBreak');
		dojo.require('dijit._editor.plugins.FontChoice');


	    dojo.addOnLoad(function() {
	        new dijit.form.TimeTextBox({
	            name: "prog_val",
	            value: new Date(),
	            constraints: {
	                timePattern: 'HH:mm',
	                clickableIncrement: 'T00:15:00',
	                visibleIncrement: 'T00:15:00',
	                visibleRange: 'T01:00:00'
	            }
	        },
	        "time_post_on");
	    });
	
		function format_dates(time, date){
			var gH = time.getHours();
			var gM = time.getMinutes();
			var gMo = date.getMonth();
			var gD = date.getDay();
			var hours = gH >= 10 ? gH : "0" + gH;
			var minutes = gM >= 10 ? gM : "0" + gM;
			var year = date.getFullYear();
			var month = gMo >= 10 ? gMo : "0" + gMo;
			var day = gD >= 10 ? gD : "0" + gD;
			return year+"-"+month+"-"+day+" "+hours+":"+minutes;
		}

		function submitform(){
			var e = dijit.byId('editor1');
			var p = document.getElementById('post');
			p.value = e.get('value');
		
			var t = dijit.byId('time_post_on').get('value');
			var d = dijit.byId('date_post_on').get('value');
			
			var po = document.getElementById('post_on')
			po.value = format_dates(t,d);
		
			var f = document.getElementById('postform');
			f.submit();
		}

	</script>

	<form id="postform" action="{{ url_for('edit_entry') }}" 
		  method="post" class="add-entry">
		<dl>
			{{ render_field(data.form.title, class="title") }}
			<dt>Body</dt>
			<div style="font-weight: normal;" 
				dojoType="dijit.Editor" id="editor1" 
				plugins="[
							'undo', 'redo', 'cut','copy','paste', '|', 
							'bold', 'italic', 'underline', 'strikethrough', '|',
							'indent', 'outdent', 'blockquote', '|',
							'justifyLeft', 'justifyCenter', 'justifyRight', '|',
							'insertImage', 'createLink', '|',
						    'foreColor', 'hiliteColor', 'viewsource', '||',
							'fontName', 'fontSize',
						]">
			</div>
			<dt>Time/Date
			<dd><input id="time_post_on" 
					   value="{{ data.date.strftime("%H:%M") }}">
				<input type="text" name="date_post_on" id="date_post_on" 
				       value="{{ data.date.strftime("%Y-%m-%d")}}" 
				       dojoType="dijit.form.DateTextBox" required="true" />
			{{ render_field(data.form.post) }}
			{{ render_field(data.form.post_on) }}	
			{{ render_field(data.form.is_draft) }}	
			{{ render_field(data.form.is_deleted) }}				
		</dl>
		<p><input type=button value="Create Post" onclick="submitform();">
	</form>
	
	<iframe src=/upload class=upload></iframe>
	
{% endblock %}