{% from "_formhelper.html" import render_field %}
{% extends "layout.html" %}
{% block header %}
{{ super() }}
{% endblock %}
{% block body %}
	<script>
		jQuery(function(){
			$("#time").timePicker({
				startTime: "{{ data.date.strftime('%H:%M') }}",  // Using string. Can take string or Date object.
				endTime: new Date(0, 0, 0, 15, 30, 0),  // Using Date object.
				show24Hours: true,
				separator:':',
				step: 15});
		});
	
		$(function() {
			$( "#datepicker" ).datepicker();
		});
		
		jQuery().ready(function(){
			var options = {
				imgPath: "/static/images/",
				content: '{{ data.entry.body|safe }}',
				buttonSet: 'format|class|bold|underline|italic|spacer|orderedList|unorderedList|indent|oudent|spacer|justify|spacer|link|image|table|spacer|toggle'
			};
			$('#editor').rte(options);
		});
		
	</script>

	<form id="postform" action="{{ url_for('edit_entry') }}" 
		  method="post" class="add-entry">
		<dl>
			{{ render_field(data.form.title, class="title", value=data.entry.title) }}
			{{ render_field(data.form.body, rows="25", id="editor") }}
			<dt>Time/Date
			<dd>{{ data.form.time(id="time", value=data.date.strftime("%H:%M"))}}
				{{ data.form.date(id="datepicker", value=data.date.strftime("%m/%d/%Y"))}}
			<dt><br>
			<dd>
				 {{ data.form.is_draft() }}<strong>{{ data.form.is_draft.label }}<strong>
				{{ data.form.is_deleted() }}<strong>{{ data.form.is_deleted.label }}</strong>
		</dl>
		<p><input type=submit value="Create Post">
	</form>
	
	<iframe src=/upload class=upload></iframe>
	
{% endblock %}