{% extends "layout.html" %}
{% block header %}
{{ super() }}
{% endblock %}
{% block body %}
	{% if session.logged_in %}
		<p><a href="/entry/edit/">Create Post</a>
	{% endif %}
	<ul>
		{% for user in data.users %}
			<li>
				<dt>Name:
				<dd>{{ user.first_name }} {{ user.last_name }}
				<dt>E-Mail:
				<dd>{{ user.email }}
				<dt>Alias:
				<dd>{{ user.alias }}
				<dt>Avatar:
				<dd><img src="{{ user.avatar.url }}" width="{{ user.avatar.width}}" height="{{ user.avatar.height }}">
				<dt><a href="{{ url_for('edit_user') }}{{ user.id }}/">Edit</a>
			</li>
		{% else %}
			<li><em>No entries matched your request</em></li>
		{% endfor %}
	</ul>
{% endblock %}
{% block iframe %}{% endblock %}