<!DOCTYPE html>
<html>
	<head>
		<title>B(eer)Log</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
	</head>
	<body style="background: #fff !important;">
		<div style="width: 35em; background: white;">
			{% if data.images %}
				<div style="overflow: auto;">
					{% for image in data.images %}
						<img src="http://images.robotholocaust.com/{{ image }}" style="float: left; width: 75px; height: 75px;">
					{% endfor %}
				</div>
			{% endif %}
			<form method="post" enctype="multipart/form-data" action="{{ url_for('create_image')}}" class=add-entry>
				<dl>
					<dt>Image
					<dd><input type=file name=file>
					{% if data.filename %}
						<dt>Image filename
						<dd>http://images.robotholocaust.com/{{ data.filename }}
					{% endif %}
				</dl>
				<p><input type=submit value="Upload image">
			</form>
		</div>
	</body>
</html>